.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  animation: shadowExpandX 2s linear infinite alternate;
}

@keyframes shadowExpandX {
  0% {
    box-shadow:
      0 0,
      0 0;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow:
      -24px 0,
      24px 0;
    color: rgba(255, 255, 255, 0.8);
  }
}
