.loader {
  --color-1: #fff;
  --color-2: rgba(255, 255, 255, 0);
  --size: 1px;

  width: calc(10 * var(--size));
  height: calc(10 * var(--size));
  border-radius: 50%;
  display: block;
  margin: calc(15 * var(--size)) auto;
  position: relative;
  color: var(--color-1);
  left: calc(-100 * var(--size));
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow:
      0 0 var(--color-2),
      0 0 var(--color-2),
      0 0 var(--color-2),
      0 0 var(--color-2);
  }
  12% {
    box-shadow:
      calc(100 * var(--size)) 0 white,
      0 0 var(--color-2),
      0 0 var(--color-2),
      0 0 var(--color-2);
  }
  25% {
    box-shadow:
      calc(110 * var(--size)) 0 white,
      calc(100 * var(--size)) 0 white,
      0 0 var(--color-2),
      0 0 var(--color-2);
  }
  36% {
    box-shadow:
      calc(120 * var(--size)) 0 white,
      calc(110 * var(--size)) 0 white,
      calc(100 * var(--size)) 0 white,
      0 0 var(--color-2);
  }
  50% {
    box-shadow:
      calc(130 * var(--size)) 0 white,
      calc(120 * var(--size)) 0 white,
      calc(110 * var(--size)) 0 white,
      calc(100 * var(--size)) 0 white;
  }
  62% {
    box-shadow:
      calc(200 * var(--size)) 0 var(--color-2),
      calc(130 * var(--size)) 0 white,
      calc(120 * var(--size)) 0 white,
      calc(110 * var(--size)) 0 white;
  }
  75% {
    box-shadow:
      calc(200 * var(--size)) 0 var(--color-2),
      calc(200 * var(--size)) 0 var(--color-2),
      calc(130 * var(--size)) 0 white,
      calc(120 * var(--size)) 0 white;
  }
  87% {
    box-shadow:
      calc(200 * var(--size)) 0 var(--color-2),
      calc(200 * var(--size)) 0 var(--color-2),
      calc(200 * var(--size)) 0 var(--color-2),
      calc(130 * var(--size)) 0 white;
  }
  100% {
    box-shadow:
      calc(200 * var(--size)) 0 var(--color-2),
      calc(200 * var(--size)) 0 var(--color-2),
      calc(200 * var(--size)) 0 var(--color-2),
      calc(200 * var(--size)) 0 var(--color-2);
  }
}
