.loader {
  position: relative;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #222b32;
  border-radius: 50%;
}
.loader:before {
  content: '';
  position: absolute;
  inset: 0px;
  margin: auto;
  background: #de3500;
  animation: crlMugLoader 2s linear infinite alternate;
}
@keyframes crlMugLoader {
  0%,
  10% {
    transform: translateY(64px);
  }
  90%,
  100% {
    transform: translateY(0px);
  }
}
