.loader {
  position: relative;
  border: 24px solid #0000;
  border-radius: 50%;
  animation: piefill 2s linear infinite;
}

@keyframes piefill {
  0%,
  19% {
    border-color: #0000 #0000 #0000 #0000;
  }
  20%,
  39% {
    border-color: #fff #0000 #0000 #0000;
  }
  40%,
  59% {
    border-color: #fff #fff #0000 #0000;
  }
  60%,
  79% {
    border-color: #fff #fff #fff #0000;
  }
  80%,
  100% {
    border-color: #fff #fff #fff #fff;
  }
}
