.loader {
  --color-1: rgba(0, 0, 0, 0.3);
  --color-2: #ff3d00;
  --size: 1px;

  position: relative;
  width: calc(100 * var(--size));
  height: calc(100 * var(--size));
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 calc(10 * var(--size)) calc(2 * var(--size)) var(--color-1) inset;
}
.loader:after {
  box-shadow: 0 calc(2 * var(--size)) 0 var(--color-2) inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
