.loader {
  width: 56px;
  height: 56px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  perspective: 500px;
}
.loader:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 24px;
  height: 24px;
  background: #FF3D00;
  border-radius: 50%;
  transform-origin: 100% 100%;
  animation: flip 2s linear infinite;
}
@keyframes flip {
    0% , 100%{ transform: rotateX(0deg) rotateY(0deg)}
    25%{ transform: rotateX(0deg) rotateY(-180deg)}
    50%{ transform: rotateX(-180deg) rotateY(-180deg)}
    75%{ transform: rotateX(-180deg) rotateY(0deg)}
}
