.loader {
  position: relative;
  width: 48px;
  height: 48px;
}

.loader:before {
  content: "";
  border-left: 24px solid #fff;
  border-right: 24px solid #fff;
  position: absolute;
  height: 24px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  animation: splitX 1s linear infinite alternate;
}

.loader:after {
  content: '';
  width: 48px;
  height: 24px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: moveY 1s linear infinite alternate;
}

@keyframes splitX {
  0% {
    width: 0;
    transform: translate(-50%, 0)
  }

  33% {
    width: 96px;
    transform: translate(-50%, 0)
  }

  66% {
    width: 96px;
    transform: translate(-50%, 24px)
  }

  100% {
    width: 0;
    transform: translate(-50%, 24px)
  }
}

@keyframes moveY {

  0%,
  33% {
    transform: translateY(0)
  }

  66%,
  100% {
    transform: translateY(-24px)
  }
}