.loader {
  --color-1: #fff;
  --size: 1px;

  position: relative;
}
.loader:after {
  content: '';
  background: var(--color-1);
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(32 * var(--size));
  height: calc(32 * var(--size));
  border-radius: calc(4 * var(--size));
  transform-origin: calc(-16 * var(--size)) calc(-32 * var(--size));
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0%,
  100% {
    transform: rotate(-45deg) translate(-50%, -50%);
  }
  50% {
    transform: rotate(-245deg) translate(-50%, -50%);
  }
}
