.loader {
  --color-1: #fff;
  --color-2: #ff3d00;
  --size: 1px;

  border: calc(24 * var(--size)) solid var(--color-1);
  border-color: var(--color-2) var(--color-1) var(--color-1) var(--color-1);
  animation: rotate 2s steps(4) infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
