.loader {
  --color-1: #fff;
  --size: 1px;

  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  background: var(--color-1);
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.2);
    border-radius: 10%;
  }
  50% {
    transform: rotate(180deg) scale(1.5);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg) scale(0.2);
    border-radius: 10%;
  }
}
