.loader {
  position: relative;
  width: 48px;
  height: 48px;
}

.loader:before , .loader:after {
  content: "";
  background: #FF3D00;
  position: absolute;
  height: 24px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  animation: splitX 1s linear infinite alternate;
}

.loader:after {
  background: #fff;
  animation-delay: 1.25s;
}

@keyframes splitX {
  0% {
    width: 0;
    transform: translate(-50%, 0)
  }

  33% {
    width: 100%;
    transform: translate(-50%, 0)
  }

  66% {
    width: 100%;
    transform: translate(-50%, 24px)
  }

  100% {
    width: 0;
    transform: translate(-50%, 24px)
  }
}
