.loader {
  --color-1: rgba(38, 50, 56, 0.4);
  --color-2: #ddd;
  --size: 1px;

  width: calc(320 * var(--size));
  height: calc(180 * var(--size));
  display: block;
  background-image:
    linear-gradient(100deg, transparent, var(--color-1) 50%, transparent 80%),
    linear-gradient(var(--color-2) calc(20 * var(--size)), transparent 0),
    linear-gradient(var(--color-2), var(--color-2)),
    linear-gradient(var(--color-2), var(--color-2)),
    linear-gradient(var(--color-2), var(--color-2)),
    linear-gradient(var(--color-2), var(--color-2));
  background-repeat: no-repeat;
  background-size:
    calc(80 * var(--size)) calc(180 * var(--size)),
    calc(280 * var(--size)) calc(20 * var(--size)),
    calc(60 * var(--size)) calc(120 * var(--size)),
    calc(60 * var(--size)) calc(80 * var(--size)),
    calc(60 * var(--size)) calc(140 * var(--size)),
    calc(60 * var(--size)) calc(100 * var(--size));
  background-position:
    -50% 0,
    0 0,
    0 100%,
    calc(80 * var(--size)) 100%,
    calc(160 * var(--size)) 100%,
    calc(240 * var(--size)) 100%;
  box-sizing: border-box;
  animation: animloader 1.4s linear infinite;
}

@keyframes animloader {
  0% {
    background-position:
      0% 0,
      0 0,
      0 100%,
      calc(80 * var(--size)) 100%,
      calc(160 * var(--size)) 100%,
      calc(240 * var(--size)) 100%;
  }
  100% {
    background-position:
      120% 0,
      0 0,
      0 100%,
      calc(80 * var(--size)) 100%,
      calc(160 * var(--size)) 100%,
      calc(240 * var(--size)) 100%;
  }
}
