.loader {
  --color-1: #fff;
  --color-2: #ff3d00;
  --size: 1px;

  width: calc(175 * var(--size));
  height: calc(80 * var(--size));
  display: block;
  margin: auto;
  background-image:
    radial-gradient(
      circle calc(25 * var(--size)) at calc(25 * var(--size)) calc(25 * var(--size)),
      var(--color-1) 100%,
      transparent 0
    ),
    radial-gradient(
      circle calc(50 * var(--size)) at calc(50 * var(--size)) calc(50 * var(--size)),
      var(--color-1) 100%,
      transparent 0
    ),
    radial-gradient(
      circle calc(25 * var(--size)) at calc(25 * var(--size)) calc(25 * var(--size)),
      var(--color-1) 100%,
      transparent 0
    ),
    linear-gradient(var(--color-1) calc(50 * var(--size)), transparent 0);
  background-size:
    calc(50 * var(--size)) calc(50 * var(--size)),
    calc(100 * var(--size)) calc(76 * var(--size)),
    calc(50 * var(--size)) calc(50 * var(--size)),
    calc(120 * var(--size)) calc(40 * var(--size));
  background-position:
    0 calc(30 * var(--size)),
    calc(37 * var(--size)) 0,
    calc(122 * var(--size)) calc(30 * var(--size)),
    calc(25 * var(--size)) calc(40 * var(--size));
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
}
.loader::after {
  content: '';
  left: 50%;
  bottom: calc(30 * var(--size));
  transform: translate(-50%, 0);
  position: absolute;
  border: calc(15 * var(--size)) solid transparent;
  border-bottom-color: var(--color-2);
  box-sizing: border-box;
  animation: fadePull 1s linear infinite;
}
.loader::before {
  content: '';
  left: 50%;
  bottom: calc(15 * var(--size));
  transform: translate(-50%, 0);
  position: absolute;
  width: calc(15 * var(--size));
  height: calc(15 * var(--size));
  background: var(--color-2);
  box-sizing: border-box;
  animation: fadePull 1s linear infinite;
}

@keyframes fadePull {
  0% {
    transform: translate(-50%, calc(15 * var(--size)));
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, calc(-15 * var(--size)));
    opacity: 0;
  }
}
