.loader {
  --color-1: #fff;
  --size: 1px;

  width: calc(48 * var(--size));
  height: calc(78 * var(--size));
  box-sizing: border-box;
  border: calc(2 * var(--size)) solid var(--color-1);
  position: relative;
  border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
}

.loader::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  width: calc(10 * var(--size));
  height: calc(10 * var(--size));
  background: var(--color-1);
  border-radius: 50%;
  animation: fadeDown 1s ease-out infinite;
}

@keyframes fadeDown {
  0% {
    top: 0%;
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 0;
  }
}
